

.roll-container {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll-container button {
    position: absolute;
    top: 10px;
    left: 10px;
}

.roll-container p {
    text-align: center;
    font-size: 1.2rem;
}

.roll-container p span {
    font-size: 1.8em;
}

/* MAIN CONTENT */

.main-component {
    margin: 5px 0px;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.section-heading {
    margin-bottom: 10px;
}

.character-attrs-stats {
    display: flex;
    justify-content: center;
}

.character-attrs-stats > div {
    flex-basis: 50%;
    font-size: 24px;
}

.character-attrs-stats table {
    height: 250px;
}

input[type="number"] {
    width: 64px;
    font-size: 24px;
    text-align: center;
}

table {
    width: 100%;
}

th {
    border: 1px solid #e0e0e0;
}

th, td {
    padding: 2px 0px;
}

.table-attrs-stats tr {
    cursor: pointer;
}

.table-attrs-stats tr th,
.table-attrs-stats tr td {
    width: 50%;
}

.table-abilities td {
    border-bottom: 1px solid #e0e0e0;
}

.table-abilities th:nth-child(1),
.table-abilities th:nth-child(2) {
    width: 20%;
}

.table-equipment tr {
    cursor: pointer;
}

.table-equipment th:nth-child(2) {
    width: 15%;
}

.table-equipment th:nth-child(7) {
    width: 30%;
}

.hide {
    display: none;
}